{% extends "index.html" %}

{%block content%}

{% for task in tasks%}
    <ul>
        <li {% if task.completed %}style="color:red" class="line-through" {% endif %}>
            {{task.title}}
            {{task.description}}
            {{task.created_at}}    
        <a href={%url 'done' task.pk %}  class="md hover:red" >{%if task.completed %}ongoing{%else%} Done {%endif%}</a>
        <a href={% url 'delete_task' task.pk %}>Delete Task</a>
        <a href={% url 'edit_task' task.pk %}>Edit Task</a>
        </li>
    </ul>
{%  endfor  %}


<a href={% url 'create'%}>Add</a>
<h1>this is a tasks page</h1>
{% endblock %}